{% extends "_layouts/base.html" %}

{% block css %}
{{block.super}}
{% endblock css %}

{% block page_title %}Your Site - Home{% endblock %}
{% block page_class %}home-page{% endblock %}
{% block content %}
<!-- This code is taken from http://getbootstrap.com/examples/jumbotron/ -->

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-8">
          <br />
          <p>
            <a href="{% url 'movie_list' %}">Back to Listing</a>
          </p>
            <h1>My Account</h1>
            <p>
              <strong>First Name: </strong><span>{{ user.first_name }}</span>
            </p>
            <p>
              <strong>Last Name: </strong><span>{{ user.last_name }}</span>
            </p>
            <p>
              <strong>Email: </strong><span>{{ user.email }}</span>
            </p>
        </div>
      </div>
    </div>

{% endblock %}
